.journey-hero {
  text-align: center;
  padding: 100px 20px 60px;
}

.journey-hero h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.journey-hero p {
  color: #aaa;
  font-size: 1.1rem;
}

.timeline {
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 20px 100px;
}

.timeline-item {
  display: grid;
  grid-template-columns: 120px 1fr;
  gap: 40px;
  margin-bottom: 90px;
}

.year {
  font-size: 1.4rem;
  font-weight: bold;
  text-align: right;
  padding-top: 5px;
}

.content {
  border-left: 1px solid #555;
  padding-left: 40px;
}

.content img {
  width: 100%;
  max-width: 700px;
  max-height: 420px;
  object-fit: cover;
  border-radius: 10px;
  display: block;
  margin-top: 20px;
}

.content h2 {
  margin-top: 25px;
  margin-bottom: 12px;
  font-size: 1.8rem;
}

.content p {
  line-height: 1.8;
  color: #bbb;
}

@media (max-width: 700px) {
  .timeline-item {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .year {
    text-align: left;
  }

  .content {
    padding-left: 20px;
  }

  .journey-hero h1 {
    font-size: 2.3rem;
  }
}




.chopin-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-top: 60px;
}

.chopin-gallery img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 0;
}

@media (max-width: 700px) {
  .chopin-gallery {
    grid-template-columns: 1fr;
  }

  .chopin-gallery img {
    height: auto;
  }
}
